.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
    margin-left: 0; /* add this line to reset margin-left */
}

#img1:checked ~.m1 {
    margin-left: 0;
}
#img2:checked ~.m2 {
    margin-left: 0;
}
#img3:checked ~.m3 {
    margin-left: 0;
}
#img4:checked ~.m4 {
    margin-left: 0;
}
#img5:checked ~.m5 {
    margin-left: 0;
}
#img6:checked ~.m6 {
    margin-left: 0;
}
#img7:checked ~.m7 {
    margin-left: 0;
}
#img8:checked ~.m8 {
    margin-left: 0;
}
#img9:checked ~.m9 {
    margin-left: 0;
}
#img10:checked ~.m10 {
    margin-left: 0;
}
